@page
@model RazorWebApp01.Pages.Knowledge.CreateModel

@{
    ViewData["Title"] = "Create";
    string sharecard = "will";
    if (Model.bNt.shared == false) sharecard = sharecard + " not";
}

<h1>Create new word</h1>
<p>msg: U r creating word card in @Model.bNt.wordLng with translation to @Model.bNt.transLng. Card @sharecard be shared with other users.</p>



<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="bNt.word" class="control-label">Word/Sentence</label>
                <input asp-for="bNt.word" class="form-control" />
                <span asp-validation-for="bNt.word" class="text-danger"></span>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">translation:</span>
                </div>
                <textarea asp-for="bNt.translation" rows="4" class="form-control h-auto" aria-label="With textarea2"></textarea>
                <span asp-validation-for="bNt.translation" class="text-danger"></span>
            </div>

            <dl>
                <dt>
                    <label asp-for="Photo">Word picture file:</label>
                </dt>
                <dd>
                    <input asp-for="Photo" type="file">
                    <span asp-validation-for="Photo"></span>
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="Photo">Photo file:</label>
        </dt>
        <dd>
            <input asp-for="Photo" type="file">
            <span asp-validation-for="Photo"></span>
        </dd>
    </dl>
</form>*@



 @*   <div class="row">
        <button type="button" class="btn btn-outline-primary" asp-action="AddBlk">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
    </div>

    <p>всего @rows записей</p>

    @{ foreach (var n in Model._context.Nt)
        {   <div class="media">
                <img src="~/images/IMG_1261.jpg"  class="img-thumbnail  align-self-start mr-3" alt="картинка" width="300">
                <div class="media-body">
                    <h5 class="mt-0">Top-aligned media</h5>
                    <p>ID=@n.Id  text: @n.text </p>
                </div>
            </div>} }*@

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
