@page "/i"
@model Knowledge.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Contacts home page</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Pages)
            {
                <tr>
                    <td> @p.Id  </td>
                    <td>@p.text</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@p.Id">Edit</a> |
                        <button type="submit" asp-page-handler="delete" asp-route-id="@p.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="NameCreate">Create New</a>
</form>