@page
@model RazorPagesTutorial.Pages.SuppliersModel
@{
    ViewData["Title"] = "Suppliers";
}

<h1>Suppliers</h1>

<p>current count:  </p>

<button class="btn btn-primary" type="button" onclick="">Click me</button>





<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="x" />
    <input type="submit" />
</form>