@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
}

    <button class="btn btn-primary" type="button" onclick="@Model.cnt++">Click me</button>
<p>counter=@Model.cnt </p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
