@page "{id:int}"
@model RazorPagesContacts.Pages.Customers.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Edit Customer - @Model.eCustomer.Id</h1>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="eCustomer.Id" type="hidden" />
    <div>
        <label asp-for="eCustomer.Name"></label>
        <div>
            <input asp-for="eCustomer.Name" />
            <span asp-validation-for="eCustomer.Name"></span>
        </div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>